html,
body,
#root {
    height: 100%;
}
body {
    margin: 0 0 0 0;
}

.App {
    background: #81dcfe;
    height: 200vh;
}

.header {
    height: 69px
}

.main {
    height: 150vh;
}

.title {

}

.title-first {
    font-size: 56px;
    /*font-family: ;*/
}

.title-second {
    font-size: 56px;
    /*font-family: ;*/
}